/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 ago 2023, 16:54:26
    Author     : IT
*/

.raccolta{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
}
.titolo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #711781;
    font-size: -webkit-xxx-large;
    height: 10%;
}

.raccoltaDati{
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    gap: 10px 30px;
    flex-direction: column;
    flex-wrap: wrap;
}

.raccoltaDatiInvisibile{
    display: none;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 10px 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.immaggine{
    display: flex;
    height: 70px;
}